
*{
    box-sizing: border-box;
}
body{
    margin:0 auto;
    font-family: "Raleway" sans-serif;
    background-color: #ecf0f1;
}
.toolbar{
    background-color: rgb(61, 49, 49);
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 5rem;


}
.pink{
    background-color: pink;
}
.blue{
    background-color: rgb(54, 131, 231);
}
.black{
    background-color: rgb(59, 55, 55);
}
.green{
    background-color: rgb(53, 189, 53);
}
.filter-container{
    height:3rem;
    width: 14rem;
    margin-right: 4rem;
    border-radius: 0.2rem;
    background-color: rgb(100, 53, 53);
    display:flex;
    justify-content: space-around;
}
.filter{
    height:100%;
    width:25%;
    /*border: 1px solid red;*/
    display:flex;
    justify-content: center;
    align-items:center;
}
.filter_color{
    height:40%;
    width:40%;
    border-radius: 0.3rem;
    /* border:1px solid red; */  
}
.action-container{
    height:50%;
    width:8rem;
    background-color: rgb(100,53,53);
    border-radius: 0.2rem;
    display:flex;
    border-radius: 0.2rem solid;
}
.icon-container{
    width:50%;
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}

/* icons are treates  as text */
.fa{
    font-size:1.5rem;
}
.active{
    background-color: #474a4b;
}
/* modal */
.modal_container{
    position:absolute;
    height:16rem;
    width:35rem;
    background-color: brown;
    left:calc((100vw - 35rem)/2);
    top:30vh;
    display:flex;
    box-shadow: 0 1rem 3rem rgba(0, 0,0.90);
}
.input_container{
    height:100%;
    width:73%;
}
.modal_input{
    height: 100%;
    width:100%;
    outline:none;
    padding: 2rem 3rem;
    font-family: "Raleway" sans-serif;
    font-size: 1.5rem;
    line-height:145%;
    font-weight: 400;
}
.modal_filter_container{
    width:27%;
    background-color: #444;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:2rem 1.2rem;
}
.modal_filter_container>.filter{
    height:15%;
    width:60%;
}
.border{
    border:0.2rem solid white;
}
/* task css */
.main_container{
    height:80vh;
    overflow: auto;
    padding-top:2rem;
    padding-left:3rem;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
.task_container{
    height:8rem;
    width:12rem;
    background-color: #fff;
}
.task_filter{
    height:7%;
    
}
.task_desc_container{
    height: 80%;
    padding-left: 0.5rem;
}
.task_desc{
    height:70%;
    text-align:center;
    overflow-y: auto;
    /* agar bda word ho to single line ki tarah treat krta h usko resolve krne ko */
    word-break: break-all;
}
.uid{
    color: #444;
    margin-bottom:0.1rem;
}


